---
import { SITE } from '../config'
import ButtonLink from '../components/ButtonLink.astro'
import Counter from '../components/Counter.svelte'
import Layout from '../layouts/Layout.astro'
---

<Layout
  description={SITE.description}
  title={SITE.name}
>
  <main>
    <section class='theme-switcher-container'>
      <p>hola</p>
      <p class='p'>hola</p>
      <Counter client:visible />
    </section>
    <ButtonLink href='/another-page'>Another Page</ButtonLink>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  /* 
   - L (lightness): 0-1. Black to white
   - C (chroma): 0-0.5.Saturation
   - Hue angle: 0-360
   - a (opacity): 0-1
  */

  p {
    background-color: oklch(60% 0.57 161);
  }

  .p {
    background-color: oklch(60% 0 161);
  }
</style>
