---
import { SITE } from '../config'
import ColorPicker from '../components/ColorPicker.svelte'
import Layout from '../layouts/Layout.astro'
---

<Layout
  description={SITE.description}
  title={SITE.name}
>
  <main>
    <section class='theme-switcher-container'>
      <ColorPicker client:visible />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
